<h1>Edit Figure</h1>

<form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name">

  <h3>Title:</h3>
  <input type="text" name="title[name]" placeholder="new_title">
  <% Title.all.each do |title| %>
    <p><label for="<%= title.id %>"><%= title.name %></label><input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>></p>
  <% end %>

  <h3>Landmark:</h3>
  <input type="text" name="landmark[name]" placeholder="new_landmark">
  <% Landmark.all.each do |landmark| %>
    <p><label for="<%= landmark.id %>"><%= landmark.name %></label><input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>></p>
  <% end %>

  <p><input type="submit" id="Edit Figure" value="Edit Figure"></p>

</form>
